@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgrond);
  background-image: url(imgs/blur-1.png), url(imgs/blur-2.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  margin: 0;
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  padding: 0 2%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: padding 1s;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-links > ul > li > a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

.navbar-links > ul > li > a:hover {
  color: var(--button);
  transition: color 0.4s ease;
}

.navbar-logo img:nth-child(1) {
  padding: 10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: height 0s, opacity 1s, visibility 0s, display 0s;
}

.navbar-logo img:nth-child(2) {
  padding: 10px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0s, opacity 1s, visibility 0s, display 0s;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  white-space: nowrap;
  display: block;
  padding: 1rem;
}

.open-button {
  position: absolute;
  top: 45px;
  right: 10%;
  display: none;
}

.close-button {
  position: absolute;
  top: -45px;
  right: 10%;
  opacity: 0;
  transition: opacity 0.15s;
}

.close-button.active {
  opacity: 1;
  transition: opacity 1s;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex: 0 250px;
  align-items: flex-end;
  justify-content: center;
}

footer img {
  max-width: 100%;
}

span.greatGreater {
  font-size: 1.75rem;
  line-height: 0;
  position: relative;
  bottom: -4px;
}

.buttonAll {
  background-color: rgba(255,255,255,0);
  border: 2px solid var(--button);
  color: var(--text-color);
  border-radius: 6px;
  align-items:center;
  line-height: 1;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button1 {
  display: flex;
  padding: 12px 20px;
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  cursor: pointer;
}

.button2 {
  display: block;
  padding: 12px 20px 12px 30px;
  height: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 0s 1.01s;
}

.greatCoffee {
  font-size: 5rem;
  line-height: 1;
  font-weight: 700;
  transition: font-size 1s;
  margin: 0;
  white-space: nowrap;
}

.greatCode {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  color: var(--backgrond);
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  transition: font-size 1s;
  white-space: nowrap;
}

.greatDivAll {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  transition: flex-grow 1s;
}

.greatDiv1 {
  flex-grow: 1;
}
.greatDiv2 {
  flex-grow: 1;
}
.greatDiv3 {
  flex-grow: 5;
  padding-top: 5%;
}

.coffeeNextlvl {
  width: 280px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.01s, opacity 1s;
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    header {
      padding: 0 15%;
    }
}

@media only screen and (max-width: 768px) {
    body {
      background-image: url(imgs/blur-mobile.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar-logo img:nth-child(1) {
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: height 0s, opacity 1s, visibility 0s, display 0s;
    }
    
    .navbar-logo img:nth-child(2) {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition: height 0s, opacity 1s, visibility 0s, display 0s;
    }
    .open-button {
      display: flex;
    }
    .open-button.active {
      display: none;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin-bottom: 0;
    }
    .navbar-links {
      position: fixed;
      background-color: var(--backgrond);
      width: 100%;
      left: -150%;
      top: 75px;
      bottom: 0;
      font-weight: 200;
      font-size: 1.5rem;
      transition: left 0.35s ease-out;
      z-index: 2;
    }
    .navbar-links li {
      border-top: 1px solid var(--border);
      padding: 1rem 1rem 1rem 2rem;
    }
    .navbar-links li:last-child {
      border-bottom: 1px solid var(--border);
    }
    .navbar-links.active {
      display: flex;
      left: 0;
      transition: left 0.35s ease-out;
    }
    .navbar-links.active li {
      border-top: 1px solid var(--border);
    }
    .navbar-links.active li:last-child {
      border-bottom: 1px solid var(--border);
    }
    .navbar-links.active li:hover {
      font-weight: 400;
      border-left: 5px solid #8257E5;
    }
    .button1 {
      display: none;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
    .button2 {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 1s;
    }
    .coffeeNextlvl {
      visibility: visible;
      opacity: 1;
      height: auto;
      transition: visibility 0s, opacity 1s, height 0s;
    }
    header {
      padding: 0 25px;
      justify-content: space-between;
      border-bottom: 1px solid #2c2c2c;
    }
    .greatCoffee {
      font-size: 4rem;
    }
    .greatCode {
      font-size: 4rem;
    }
    .greatDiv1 {
      flex-grow: 2;
    }
    .greatDiv2 {
      flex-grow: 1;
    }
    .greatDiv3 {
      flex-grow: 2;
    }
    main {
      justify-content: space-evenly;
    }
}

@media only screen and (max-width: 480px) {
  .greatCoffee {
    font-size: 3rem;
  }
  .greatCode {
    font-size: 3rem;
  }
  
}

@media only screen and (max-width: 345px) {
  .greatCoffee {
    font-size: 1.8rem;
  }
  .greatCode {
    font-size: 1.8rem;
  }
  .coffeeNextlvl {
    width: 180px;
    font-size: 1rem;
    transition: all 0.5s;
  }
  .navbar-logo img:nth-child(2) {
    width: 80%;
    min-width: 115px;
  }
  header {
    padding: 0 5%;
  }
  .navbar {
    padding: 0;
}
  
}